/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ROOT */

html {
  overflow-y: scroll;
  background: rgb(244, 244, 244);
}

body {
  padding: 0 0.809em;
  max-width:30em;
  margin:auto;
  background: rgba(255,255,255,0.75);
}

img { max-width:100%; max-height:100%; }

#container { padding-bottom: 1.618em; }

article { padding:0 0 1.618em 0; }

aside {
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0 0 2em 0;
}

aside a:hover, aside a.selected {color: rgb(136,136,136);}

aside h3 {
  margin-bottom: 0.5em;
}

section.sponsores {
  clear: both;
}
section.sponsores p,
p.sponsor { 
  float: left; 
  padding: 0px;
  margin-right: 0.5em;
  width: 255px;
  height: 100px;
  text-align: center;
}
section.sponsores p:hover { 
  box-shadow: 0px 0px 10px gray;
}
section.sponsores ul {
  margin-left: 20px;
}

footer {
  margin:1.618em 0 0;
  padding: 1em 0 0;
  border-top: 1px solid rgb(102,102,102);
  border-bottom: 1px solid rgb(102,102,102);
  clear: both;
}

footer p { 
  float: left; 
  margin-right: 1em; 
  margin-bottom: 1em
}

/* TYPOGRAPHY */
body {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", georgia, serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.618em;
  color: rgb(70, 63, 76);
}

h2, h3, h4, h5, h6, aside, .column-width, .aside-width {
  font-family: "proxima-nova-1","proxima-nova-2", arial, helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.618em;
}

footer {
  font-family: "proxima-nova-1","proxima-nova-2", arial, helvetica, sans-serif;
  font-style:italic;
}

h3 { text-transform:uppercase; letter-spacing:0.1em; }

h1 {
  text-align: center;
  font-size: 2.618em;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom:0.809em;
  
  background-image: url(../images/header-logo.png);
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 150px;
}

h1 > span {
	display: block;
}

p, ul, ol, dl, blockquote {
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom:1.618em;
    max-width:30em;
}

p.intro {
  font-size: 1.309em;
  margin-bottom: 1em;
  }

ul { list-style-type: disc; margin-left: 1.618em; }
ol { list-style-type: decimal; margin-left: 1.618em; }

b, strong { font-weight: 700; }
i, em { font-style: italic; }
small { font-size: 1em; }

em {
  color: green;
  font-weight: 700;
}

/* LINKS */
a, a:visited {
  outline: none;
  color: #dc0067;
  text-decoration: none;
}
  
a:hover {
  outline: none;
  color: #dc0067;
  text-decoration: underline;
}
  
a:active, a:focus { outline: none; }

.button {
  width: 200px;  
  display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.button a {
  display: block;
  border-radius: 6px;
  padding: 5px;
  text-decoration:none;
}

/* CUSTOM LAYOUT */
/* Only for 'narrow column' */
header {
  text-align:center;
}

/* VENDOR-SPECIFIC */
body { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
.ie7 img { -ms-interpolation-mode: bicubic; }

/* NON-SEMANTIC */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;  
} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }